Please provide the voter ID and password you received by email.<br /><br />
<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />
<div class="form-group card col-md-6 col-lg-4 mx-auto">
    <div class="card-body">    
        {{password_login_form.as_p}}
    
        {% if bad_voter_login %}
            <p class="text-danger">Bad voter ID or password, please try again.</p>
        {% endif %}
        {% if cast_ballot == "1" %}
            <p class="card-text">You may cast as many ballots as you wish:<br />only the last one counts.</p>
            <input type="submit" class="btn btn-primary" value="Cast ballot" />
        {% else %}
            <input type="submit" class="btn btn-primary" value="Log in" />
        {% endif %}
    </div>
</div>


