{% extends TEMPLATE_BASE %}

{% block content %}

  <div class="row text-center mt-3">
    <h1 class="h1">{{election.name}} <a href="{% url "election@view" election.uuid %}" class="btn btn-outline-primary ml-auto">Back to election</a></h1>  
    <h2 class="h2 my-3">Extend Voting</h2>
  </div>
  
  <div class="container">  
    <form class="row mx-auto" action="" method="POST" id="edit_election_form">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
      <!-- <table class="pretty"> -->
      {{election_form.as_p}}
      <!-- </table> -->
    <div>
    <label for="">&nbsp;</label>
    <div class="col-md-6 mx-auto">
      <input class="btn btn-primary btn-lg" type="submit" value="Extend Voting" id="update_button" />
      <a class="btn btn-danger btn-lg" href="{% url "election@view" election.uuid %}">Never mind</a>
    </div> 
    </div>
    </form>
  </div>

{% endblock %}
