{% extends TEMPLATE_BASE %}
{% block title %}{{election.name}}{% endblock %}
{% block content %}
<div class="row text-center my-3">
  <h1 class="h1 text-capitalize">{{election.name}}
    {% if admin_p %}
      {% if not election.frozen_at %}
        <a class="btn btn-primary" href="{% url "election@edit" election.uuid %}"><img src="/static/pen-solid.svg" alt="" height="15" width="15"><span class="mx-2">Edit election details</span></a>
      {% endif %}
    {% endif %}
  </h1>  
</div>
<div class="card election-overview-card">
  <h5 class="card-header text-center bg-dark text-light">Election Overview</h5>
  <div class="card-body row">
    <div class="col-lg-6">
      <div class="card border-light">
        <div class="row m-2">
          <p class="col-sm-6 fw-bold">Election Name:</p>
          <p class="col-sm-6">{{election.name}}</p>
        </div>
        <div class="row m-2">
          <p class="col-sm-6 fw-bold">Election type:</p>
          <p class="col-sm-6">
            {% if election.private_p %}
              private
            {%else%}
              public
            {% endif %}
          </p>
        </div>
        <div class="row m-2">
          <p class="col-sm-6 text-capitalize fw-bold">{{ election.election_type }}
            {% if settings.SHOW_USER_INFO %} 
              created by </p>
          <p class="col-sm-6">
            {{election.admin.display_html_small|safe}}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-light">
        <div class="row m-2">
          {% if election.help_email and admin_p%}
          <p class="col-sm-6 fw-bold">
            Help Email Address: 
          </p>
          <p class="col-sm-6">{{election.help_email}}</p>
          {% endif %}
        </div>
        <div class="row m-2">
          {% if election.voting_start_at %}
          <p class="col-sm-6 fw-bold">
            Voting starts at:
          </p>
          <p class="col-sm-6">
            {{election.voting_start_at}}
          </p>
          {% endif %}
        </div>
        <div class="row m-2">
          {% if election.voting_end_at %}
          <p class="col-sm-6 fw-bold">
            Voting ends at:
          </p>
          <p class="col-sm-6">
            {{election.voting_end_at}}
          </p>
          {% endif %}
        </div>
        <div class="row m-2">
          <p class="col-sm-12">
            <span class="fw-bold">Election description: </span>{{election.description_bleached|safe}}
          </p>
        </div>
      </div>
    </div>
    <div class="card-text mt-3">  
      {% if election.is_archived %}
        [archived]
      {% endif %}
    <!-- make changes -->
  
      {% if admin_p %}
        &nbsp;
        {% if election.is_archived %}
          <a class="btn btn-primary" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=0">Unarchive it</a>
        {% else %}
          <a class="btn btn-primary" href="{% url "election@archive" election_uuid=election.uuid %}?archive_p=1">Archive it</a>
        {% endif %}
        <a class="btn btn-danger" onclick="return window.confirm('Are you sure you want to copy this election?');" href="{% url "election@copy" election_uuid=election.uuid %}">Copy</a>
      {% endif %}
      <br />
      {% if admin_p %}
        {% if not election.private_p %}
          {% if election.featured_p %}
            this {{election.election_type}} is featured on the front page.
            {% if can_feature_p %}
              [<a href="{% url "election@set-featured" election.uuid %}?featured_p=0">unfeature it</a>]
            {% endif %}
          {% else %}
            this {{election.election_type}} is <u>not</u> featured on the front page.
            {% if can_feature_p %}
            [<a href="{% url "election@set-featured" election.uuid %}?featured_p=1">feature it</a>]
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}

    </div>
  </div>
</div>

{% if election.election_info_url %}
  <p style="font-size:1.5em;">
    [<a target="_blank" href="{{election.election_info_url}}" rel="noopener noreferrer">download candidate bios &amp; statements</a>]
  </p>
{% endif %}

<div class="row justify-content-center mt-3 mb-3">
  <div class="col-md-3 col-lg-4">
    <div class="card text-center text-dark m-3 m-md-0">
      <p class="card-title my-2 fw-bold">Questions</p>
        {% if election.questions %}
        <p class="fw-bold h3">
          {{election.questions|length}}
        </p>
        <a class="btn btn-primary" href="{% url "election@questions" election.uuid %}">View/Add</a>
        {% else %}
        <p class="fw-bold h3">
          0
        </p>
        <a class="btn btn-primary" href="{% url "election@questions" election.uuid %}">Add</a>  
        {% endif %}
    </div>
  </div>
  <div class="col-md-3 col-lg-4 mx-auto">
    <div class="card text-center text-dark m-3 m-md-0">
      <p class="card-title my-2 fw-bold">Voters and Ballots</p>
      <p class="fw-bold h3"> 
        {% if total_voters %}
          {{total_voters}} <small class="fw-normal">voters</small>
        {% else %}
          - 
        {% endif %}  
      </p>
      <a class="btn btn-primary" href="{% url "election@voters@list-pretty" election.uuid %}"> View/Add</a>
    </div>
  </div>
  <div class="col-md-3 col-lg-4 mx-auto">
    <div class="card text-center text-dark m-3 m-md-0">
      <p class="card-title my-2 fw-bold">Trustees</p>
      <p class="fw-bold h3">
        {{trustees|length}}
      </p>
      <a class="btn btn-primary" href="{% url "election@trustees@view" election.uuid %}">View/Add</a>
    </div>
  </div>
</div>

{% if admin_p %}
  {% if election.frozen_p %}
    <div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
      <a href="#" onclick="$('#badgebody').slideToggle(250);">Embed an Election Badge</a>
      <div id="badgebody" style="display:none;">
        <br />
        <form action="#">
          <textarea cols="90" rows="4" wrap="soft">&lt;iframe src="{{election_badge_url}}" frameborder="0" style="border: 1px solid black" height="75" width="200"&gt;
          &lt;/iframe&gt;</textarea><br />
          <p style="font-size:0.8em;">adding this HTML to your site displays a thin banner with direct links to voting.</p>
        </form>
      </div>
    </div>
  {% endif %}
  <div class="card my-3 my-sm-5 col-12">
    {% if election.result_released_at %}

    <!-- election complete, no next step -->

    {% else %}
    <div class="card-header h2 mb-2 text-center bg-dark text-light">Steps</div>
      <div style="font-size: 1.3em;" class="card-body">
        <span class="fw-bold h4">Next Step:</span>
        {% if not election.frozen_at %}
          {% if election.issues_before_freeze %}
            {% for issue in election.issues_before_freeze %}
              {{issue.action}}{% if forloop.last %}{% else %}, and{% endif %}<br />
            {% endfor %}
          {% else %}
          <a href="{% url "election@freeze" election.uuid %}">Freeze ballot and open election.</a>
          <p>
          {% if election.voting_starts_at %}
            Once you do this, the election will be ready for voting and will open automatically<br />
            at <span class="fw-bold">{{election.voting_starts_at}}</span>, as per your settings.
          {% else %}
            once you do this, the election will be immediately open for voting.
          {% endif %}
        </p>
        {% endif %}

        {% else %}
          {% if not election.encrypted_tally %}
            {% if election.tallying_started_at %}
              Tally computation is under way.
              <br />
              Reload this page in a couple of minutes.
            {% else %}
            <a href="{% url "election@compute-tally" election.uuid %}">Compute encrypted tally</a>
            <br />
            The encrypted votes will be combined into an encrypted tally. Once this is done,<br />
            trustees will be asked to provide their share of the decryption.
            {% endif %}
          {% else %}

            {% if election.result %}
              <a href="{% url "election@release-result" election.uuid %}">Release result</a>
              <br />
              The result displayed below is visible only to you.
              <br />
              Once you release the result, it will be visible to everyone.
            {% else %}

              {% if election.ready_for_decryption_combination %}
                <a href="{% url "election@combine-decryptions" election.uuid %}">
                  {% if election.num_trustees == 1 %}
                    Compute results
                  {% else %}
                    Combine trustee decryptions and compute results
                  {% endif %}
                </a>
                <br />
                {% if election.num_trustees == 1 %}
                  The result will be computed and shown to you, the administrator, only.
                {% else %}
                  The decryption shares from the trustees will be combined and the tally computed.<br />
                  Once you do this, the tally will visible to you, the administrator, only.
                {% endif %}
              {% else %}
                <a href="{% url "election@trustees@view" election.uuid %}">trustees (for decryption)</a>
              {% endif %}

            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}

<br />

<!-- Perhaps add an animation ian edits -->
{% if show_result %}
  {% if election.result_released_at %}
    <div class="card-header bg-success text-light fw-bold h2">
      This election is complete.
    </div>
    <br />
    <br />
    <br />
  {% endif %}
  
  <div class="card">
    <div class="card-header h3 bg-dark text-light text-center"><span class="">Tally</span></div>
    
    {% for question in election.pretty_result %}
      <h5 class="card-title h4 fw-bold">Question {{forloop.counter}}</h5>
        
      <div class="card col-md-">
        <h4 class="card-title h2">{{question.question}}</h4>
        <table class="pretty" style="width: auto;">
          {% for answer in question.answers %}
            <tr>
              <td style="padding-right:80px;{% if answer.winner %}font-weight:bold;{% endif %}">
                {{answer.answer}}
              </td>
              <td align="right" style="{% if answer.winner %}font-weight:bold;{% endif %}">
                {{answer.count}}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
{% else %}

  {% if election.voting_has_stopped %}
    <div class="card col-12 bg-danger text-light h3 fw-bold p-1 p-md-3">
        Election closed. Results will be released soon.
    </div>
    <br />
    <br />
  {% else %}

    {% if election.voting_has_started %}
      <a class="btn btn-primary btn-lg" href="{{test_cookie_url}}">Vote in this {{election.election_type}} </a>
      <br />
      <br />
      {% if election.voting_extended_until %}
        This <span class="fw-bold">{{election.election_type}}</span> was initially scheduled to end at <span class="fw-bold">{{election.voting_ends_at}}</span> (Africa/Nairobi),
        <br />
        but has been extended until <span class="fw-bold">{{ election.voting_extended_until }}</span> (Africa/Nairobi).
      {% else %}
        {% if election.voting_ends_at %}
          <br />
          This <span class="fw-bold">{{election.election_type}}</span> is scheduled to end at <span class="fw-bold">{{election.voting_ends_at}}</span> (Africa/Nairobi).
        {% else %}
          This <span class="fw-bold">{{election.election_type}}</span> ends at the administrator's discretion.
        {% endif %}
        <br />
      {% endif %}

      {% if election.private_p and voter %}
        <br />
        This election is <span class="fw-bold">private</span>. You are signed in as eligible voter <span class="fw-bold">{{voter.name}}</span>.
      {% endif %}

      <div class="highlight-box round" style="font-size: 1.2em; margin-right: 400px; display:none;" id="nojava_message">
        You do not have Java installed in your browser.<br />At this time, Helios requires Java.<br />
        Visit <a target="_new" href="http://java.sun.com">java.sun.com</a> to install it.
      </div>
      <br />
    {% else %}
      <span class="highlight-box round">
        voting is not yet open
      </span> <br /><br />
    {% endif %}

    {% if user %}
      {% if voter %}
        <p style="padding-top:1px;">
          You are registered to vote in this <span class="fw-bold">{{election.election_type}}</span>.
          {% if election.use_voter_aliases %}
            Your voter alias is <span class="fw-bold">{{voter.alias}}</span>.
          {% endif %}
        </p>

      {% else %}
        {% if election.result %}
        {% else %}
          {% if election.openreg %}
            {% if eligible_p %}
              You are <span class="fw-bold">eligible</span> to vote in this election.
            {% else %}
              You are <span class="fw-bold">not eligible</span> to vote in this {{election.election_type}}.
            {% endif %}
          {% else %}
            You are <span class="fw-bold">not eligible</span> to vote in this {{election.election_type}}.
            <br />
          {% endif %}
        {% endif %}
      {% endif %}
    {% else %}

      {% if election.openreg %}
        {% if election.eligibility %}
          This election is open to: {{election.pretty_eligibility|safe}}
          <a href="{{settings.SECURE_URL_HOST}}{% url "auth@index" %}?return_url={{CURRENT_URL}}">Log in</a> to check your eligibility.
        {% else %}
          Anyone can vote in this election.
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

{% if admin_p and election.voting_ends_at and not election.tallying_started_at %}
  <br />
  <a class="btn btn-primary" href="{% url "election@extend" election.uuid %}">Extend voting</a>
  <br />
{% endif %}

<div class="card  mt-3">
  <div class="card-header bg-dark text-light text-center">
    <span class="h2">Election Info</span>
  </div>
  <div class="card-body">
    <div class="row m-2">
      <p class="col-sm-4 fw-bold">Election URL:</p>
      <p class="col-sm-8"><a href="{{election.url}}">{{election.url}}</a></p>
      <hr>
    </div>
    <div class="row m-2">
      {% if election.frozen_at %}
      <p class="col-sm-4 fw-bold">Election Fingerprint:</p>
      <p class="col-sm-8">{{election.hash}}</p>  
      <hr>
    </div>
      {% if votes %}
        <div class="row m-2">
          <p class="col-sm-4 fw-bold">Your smart ballot tracker:</p>
          <p class="col-sm-8">{{votes.0.vote_hash}}</p>  
          <hr>
        </div>
        {% endif %}

        <a href="{% url "election@voters@list-pretty" election.uuid %}">Ballot Tracking Center</a> &nbsp;| &nbsp;
        <a href="{% url "election@audited-ballots" election.uuid %}">Audited Ballots</a>

    {% endif %}

    {% if not election.voting_has_started %}
          <a class="btn btn-primary my-2" href="{{SECURE_URL_HOST}}/booth/vote.html?election_url={% url "election@home" election.uuid %}">Preview booth</a>
      {% endif %}  

      {% if election.voting_has_stopped %}
        
          {% if election.result %}
          <p class="card-text">Verify </p><a class="btn btn-primary" target="_blank" href="/verifier/verify.html?election_url={% url "election@home" election.uuid %}">election tally</a>.
          {% endif %}
          <a class="btn btn-success" href="{{vote_url}}">Review the voting booth</a>.
        </p>

      {% endif %}

  </div>
</div>

{% endblock %}
