{% extends TEMPLATE_BASE %}

{% block content %}
<div class="row text-center my-3">
  <h1 class="h1">Elections you Administer<a href="/" class="btn btn-outline-primary ml-auto">Back home</a></h1>  
</div>

<ul class="list-group list-group-flush list-group-numbered">
  {% for election in elections %}
    <li class="list-group-item">
       <h3 class="card-header">{{election.name}}</h3>
       <p>Number of voters: <span class="fw-bold">{{election.num_voters}} voters</span></p>
       <p>Number of cast votes: <span class="fw-bold">{{election.num_cast_votes}}</span></p>
       <a class="btn btn-primary" href="{% url "election@view" election.uuid %}">View more info</a>
      </li>
{% endfor %}
</ul>
{% endblock %}