{% extends TEMPLATE_BASE %}

{% block content %}

<div class="row text-center mt-3">
  <h1 class="h1 text-capitalize">{{election.name}}</h1>  
  <h2 class="h2 my-3">Freeze Ballot</h2>
</div>
<div class="card-body">
  <p>
  Once the ballot is frozen, the questions and options can no longer be modified.<br />
  The list of trustees and their public keys will also be frozen.
  </p>
  <p>
  {% if election.openreg %}
    Registration for your election is currently <b>open</b>, which means anyone can vote, even after you freeze the ballot.
  {% else %}
    Registration for your election is currently <b>closed</b>, which means only the voters you designate will be able to cast a ballot. As the administrator, you will still be able to modify that voter list as the election progresses.
  {% endif %}
  </p>    

  {% if helios.VOTERS_EMAIL %}
    <p>
    You must freeze the ballot before you can contact voters.
    </p>
  {% endif %}

  {% if issues_p %}
    <div>
        Before you can freeze the election, you will need to:
        <ul>
            {% for issue in issues %}
            <li>{{issue.action}}</li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary" href="{% url "election@view" election.uuid %}">Go back to the election</a>
    </div>
  {% else %}
  <form method="post" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
        
    <input class="btn btn-primary btn-lg" type="submit" value="Freeze the ballot" />
    <button class="btn btn-danger btn-lg" onclick="document.location='{% url "election@view" election.uuid %}'; return false;">Never mind</button>
  </form>
  {% endif %}
</div>
<br /><br />
{% endblock %}
