{% extends TEMPLATE_BASE %}

{% block content %}
<div class="row text-center mt-3">
  <h1 class="h1">{{election.name}} <a href="{% url "election@view" election.uuid %}" class="btn btn-outline-primary ml-auto">Back to election</a></h1>  
  <h2 class="h2 my-3">Bulk Upload Voters</h2>
</div>

<p>
You have uploaded a file of voters. The first few rows of this file are:
</p>

<table class="table table-light table-stripped">
<tr>
    <th scope="col">Voter Login</th>
    <th scope="col">Email Address</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
</tr>
{% for v in voters %}
<tr>
  <td >{{v.voter_id}}</td>
  <td>{{v.email}}</td>
  <td>{{v.name}}</td>
  <td>{{v.phone}}</td>
</tr>
{% endfor %}
</table>

{% if problems %}
<p style="font-size: 1.5em;">
HOLD ON:<br />
{% for problem in problems %}
- {{problem}}<br />
{% endfor %}
</p>
Never mind, 
<a class="btn btn-primary" href="{% url "election@voters@upload-cancel" election.uuid %}">Upload a different file</a>
</p>

{% else %}
<p></p>
<form method="post" action="" id="upload_form">
  Does this look right to you?
  <input type="hidden" name="confirm_p" value="1" />
  <input class="btn btn-success" type="submit" value="Yes, let's go" />
</form>

<a class="btn btn-danger" href="{% url "election@voters@upload-cancel" election.uuid %}">Upload a different file</a>

{% endif %}

{% endblock %}
